[Unit]
Description=Watch x-ui.db for changes and update Nginx locations
After=network.target


[Service]
Type=simple
ExecStart=/usr/local/bin/xray-watcher.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
